# Entornos virtuales
venv/
.venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Modelos entrenados (muy grandes para git)
#*.bin
*.pkl
*.joblib

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
