# fly.toml app configuration file generated for sistema-de-deteccion-de-fraude on 2025-12-25T01:49:22-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sistema-de-deteccion-de-fraude'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 9696
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
